:root {
  --background: #12181b;
  --font-color: rgb(255 255 255 / 80%);;
  --navbar-color: #2a2e35;
  --nav-link-color: rgb(255 255 255 / 80%);;
  --card-color: #2a2e35;
}
  
.white-theme {
  --background: white;
  --font-color: black;
  --navbar-color: white;
  --nav-link-color: black;
  --card-color: white;
}

.dark-theme {
  --background: #12181b;
  --font-color: white;
  --navbar-color: #2a2e35;
  --nav-link-color: white;
  --card-color: #2a2e35;
}

.blue-theme {
  --background: #111827;
  --font-color: #D1D5DB;
  --navbar-color: #1f2937;
  --nav-link-color: #D1D5DB;
  --card-color: #1f2937;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
}

.bgcolor-background {
  background-color: var(--background)
}

.color-background {
  color: var(--background)
}

.bgcolor-fontcolor {
  background-color: var(--font-color)
}

.color-fontcolor {
  color: var(--font-color)
}

.bgcolor-navbarcolor {
  background-color: var(--navbar-color)
}

.color-navbarcolor {
  color: var(--navbar-color)
}

.bgcolor-cardcolor {
  background-color: var(--card-color)
}

.color-cardcolor {
  color: var(--card-color)
}


.nav-link {
  color: var(--nav-link-color);
}

.card {
  background-color: var(--card-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}


/* page-backend */

.page-backend textarea {
  background-color: var(--card-color);
} 